:root {
  --color-bg-body: var(--color-neutral-dim);
  --color-text-body: var(--color-neutral-bright);
  --color-text-inverse: var(--color-neutral-dim);

  --color-primary: var(--color-primary-bright);
  --color-secondary: var(--color-secondary-bright);
  --color-danger: var(--color-danger-bright);

  --color-border: var(--color-neutral-dim1);
}
